External/Library/Script/
External/Library/Engine/
.vs/
x64/
Project/Client/x64/
Project/CodeGen/.vs/
Project/DynamicLib/
Project/Engine/x64/
Project/Script/x64/
Project/StaticLib/
unity_*.cpp
External/Include/Engine/*
!External/Include/Engine/SimpleMath.inl
External/Include/Script/*
!External/Include/Script/.gitkeep
**/imgui.ini
OutputFile/bin_d/Client.exe
OutputFile/bin_d/Client.pdb
OutputFile/bin/Client.exe
OutputFile/bin/Client.pdb
!External/Library/FBXLoader/x64/